@inherits LayoutComponentBase

<PageTitle>PDC Library</PageTitle>

<MudThemeProvider Theme="myTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar style="background-color: red;">
        <MudIconButton Icon="@Icons.Material.Filled.Apps"
                       Color="Color.Inherit"
                       Edge="Edge.Start"
                       Class="mr-4"
                       OnClick="DrawerToggle" />
        <div class="bar-title">
            PDC Library
        </div>
        <MudSpacer />
        <div class="bar-date">
            @DateTimeOffset.Now.ToString("dd-MMMM-yyyy")
        </div>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <div class="py-4 px-8">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

