@page "/Movies/Edit/{MovieId:guid}"

<PageHeader Title="Edit Movie" />

@if (_model is not null)
{
    <MudGrid>
        <MudItem xs="12" md="6">
            <MudTextField Label="Title" @bind-Value="_model.Title" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudDatePicker Label="Release Date" @bind-Date="_model.ReleaseDate" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Synopsis" @bind-Value="_model.Synopsis" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Rating" @bind-Value="_model.Rating" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Budget" Format="N0" @bind-Value="_model.Budget" />
        </MudItem>
    </MudGrid>

    <div style="text-align: right;" class="mt-6">
        <MudButton Variant="Variant.Filled" Color="Color.Error" Href="Movies">Cancel</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit">Submit</MudButton>
    </div>
}